.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background: rgb(21,87,66);
    background: radial-gradient(circle, rgba(21,87,66,1) 23%, rgba(38,69,59,1) 51%, rgba(43,64,57,1) 100%);
}

h1 {
    font-size: 6rem;
    font-family: 'Unbounded', cursive;
    color: rgb(245, 245, 220);
    text-shadow: 5px 0 #232931;
}

img {
    width: 70%;
}

.score1, .score2 {
    font-size: 1rem;
    color: rgb(245, 245, 220);
    font-family: 'Rajdhani', sans-serif;
    margin: 0 0 48px;
}

.player {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(245, 245, 220);
    font-family: 'Rajdhani', sans-serif;
}

footer p{
    font-size: 1rem;
    color: rgb(245, 245, 220);
    text-align: center;
    padding-top: 7%;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

